<% layout("layouts/boilerplates") %>

    <div class="row">
        <h1 class=" text-center"> Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campground/<%= foundCamp.id %>?_method=PATCH " method="POST" novalidate
                class="form-validation" enctype="multipart/form-data">
                <div class="mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="campground[title]" id="title" required
                        value="<%= foundCamp.title %> ">
                </div>
                <div class="mb-2">
                    <label for="loc" class="form-label ">Location</label>
                    <input type="text" class="form-control" name="campground[location]" id="title" required
                        value="<%= foundCamp.location %> ">
                </div>
                <div class="mb-2">
                    <label for="price">Price</label>
                    <div class="input-group mt-1">
                        <span class="input-group-text"> &#8377 </span>
                        <input type="text" name="campground[price]" class="form-control" placeholder="0.00" required
                            value="<%= foundCamp.price %> ">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="img" class="form-label ">Description</label>
                    <textarea type="text" class="form-control" name="campground[description]" required
                        id="img"> <%= foundCamp.description %> </textarea>
                </div>
                <div class="mb-2">
                    <label for="formFileMultiple" class="form-label">Add More Images</label>
                    <input type="file" class="form-control" id="formFileMultiple" name="image" multiple>

                </div>
                <div class="mb-2">
                    <% foundCamp.images.forEach(function(img, i){ %>
                        <img src="<%=img.thumbnail%> " alt="" class="img-thumbnail">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="deleteImages[]"
                                value="<%=img.filename %>" id="image-<%=i%>">
                        </div>
                        <label for="image-<%=i%>">delete ?</label>
                        <% }) %>
                </div>
                <div class="mt-2 offset-4">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
            <a href="/campground/<%=foundCamp.id %> ">back to campground</a>
        </div>
    </div>